<h2 class="register-container">Cadastre-se</h2>
<form class="register-container">
  <mat-form-field class="register-input" style="width: 100%;" floatLabel="always">
    <mat-label>Nome:</mat-label>
    <input matInput type="text" id="nome" name="nome" [(ngModel)]="nome">
  </mat-form-field>
  <mat-form-field class="register-input" style="width: 100%;" floatLabel="always">
    <mat-label>E-mail:</mat-label>
    <input matInput type="email" id="username" name="username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="register-input" style="width: 100%;" floatLabel="always">
    <mat-label>Senha:</mat-label>
    <input matInput type="password" id="password" name="password" [(ngModel)]="password">
  </mat-form-field >
  <button mat-raised-button color="primary" (click)="register()" class="register-button">Register</button>
</form>
