<form (ngSubmit)="adicionarNota()" class="nota-inclusao" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field style="width: 100%;" floatLabel="always">
      <mat-label>Título:</mat-label>
      <input matInput id="titulo" name="titulo" [(ngModel)]="novaNota.titulo" required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field style="width: 100%;" floatLabel="always">
      <mat-label>Anotação:</mat-label>
      <textarea matInput id="anotacao" name="anotacao" [(ngModel)]="novaNota.anotacao" required> </textarea>
    </mat-form-field>
  </div>
  <input type="hidden" id="campoHidden" name="campoHidden" [(ngModel)]="username">
  <button mat-raised-button color="primary" type="submit">Adicionar Nota</button>
</form>
