<form (ngSubmit)="adicionarNota()" class="nota-inclusao">
  <div>
    <label class="nota-inclusao" for="titulo">Título:</label>
    <input class="nota-inclusao" type="text" id="titulo" name="titulo" [(ngModel)]="novaNota.titulo" required>
  </div>
  <div>
    <label class="nota-inclusao" for="anotacao">Anotação:</label>
    <textarea class="nota-inclusao" id="anotacao" name="anotacao" [(ngModel)]="novaNota.anotacao" required></textarea>
  </div>
  <input type="hidden" id="campoHidden" name="campoHidden" [(ngModel)]="username">
  <button class="nota-inclusao" type="submit">Adicionar Nota</button>
</form>
