<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="header-title">Bloco de Notas</span>
    <span class="spacer"></span>
    <ng-container *ngIf="isAuthenticated(); else notAuthenticated">
      <a mat-button (click)="navegarParaNotaLista()">Lista de Anotações</a>
      <a mat-button (click)="criarAnotacao()">Incluir Anotação</a>
      <span class="flex-spacer"></span>
      <span class="right-section">
        <mat-label [(ngModel)]="nomeUsuario">Olá, {{nomeUsuario}}</mat-label>
        <span class="flex-spacer"></span>
        <a mat-button (click)="logout()">Sair</a>
      </span>
    </ng-container>
    <ng-template #notAuthenticated>
      <span class="right-section">
        <a mat-button (click)="loginUsuario()">Entrar</a>
        <span class="flex-spacer"></span>
        <a mat-button (click)="registrarUsuario()">Cadastre-se</a>
      </span>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
