/* Estilos para a tela de inclusão de notas */
.nota-inclusao {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.nota-inclusao form {
  display: flex;
  flex-direction: column;
}

.nota-inclusao form label {
  margin-bottom: 10px;
}

.nota-inclusao form input[type="text"],
.nota-inclusao form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nota-inclusao form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
